
   
* { 
     box-sizing: border-box;
     margin: 0px;}

    .container {
                position: block;
                display: flex;}


    .topnav {
      text-align: center;
      position:absolute;
      width: 100%;
      overflow: hidden;
      background-image: linear-gradient(rgb(34, 101, 163),rgb(112, 141, 168));
      padding: 12px;}

    .topnav a {
      color: #f2f2f2;
      text-align: center;
      padding: 20px 30px;
      text-decoration: none;
      font-size: 17px;
      font-family: 'Montserrat'}

    .topnav a:hover {
      background-image: linear-gradient(white,#f6be00);
      border-radius: 12px;
      color: black;}

    .topnav a.active {
      background-image: linear-gradient(white,#f6be00);
      color: rgb(16, 16, 29);
      border-radius: 12px;}

    .h1 {
        position: absolute;
        top: 50px;
        left: 70px;
        width: 500px;
        border: 1px #f1f3ee;
        padding: 15px;
        font-size: 17pt;
        color: #25221b;
        font-family: 'Montserrat'}
        
     .h2 {
            position: absolute;
            text-align: right;
            left: 100px;
            width:530px;
            top: 530px;
            border-radius: 6px;
            padding: 15px;
            font-size: 11pt;
            background-image: linear-gradient(white,#f6be00);
            font-family: 'Montserrat';}

      .p1 {
            position: absolute;
            left: 100px;
            width: 310px;
            height: 180px;
            text-align: center;
            top: 270px;
            padding: 15px;
            color:rgb(8, 8, 8);
            font-size: 18pt;
            font-family: sans-serif;}
    
      .about {
            position:absolute;
            left: 10px;
            width: 600px;
            border: 1px #f1f3ee;
            top: 650px;
            padding: 20px;
            font-size: 13pt;
            color: black;
            text-align: justify;
            border-radius: 5px;
            background-image: linear-gradient(white,#f6be00);
            font-family: sans-serif;}
    
      .services {
            position:absolute;
            left: 10px;
            width: 600px;
            border: 1px #f1f3ee;
            top: 1100px;
            padding: 20px;
            font-size: 13pt;
            color: black;
            text-align: justify;
            border-radius: 5px;
            background-image: linear-gradient(white,#f6be00);
            font-family: sans-serif;}
    
      .reviews {
            position:absolute;
            left: 10px;
            width: 600px;
            border: 1px #f1f3ee;
            top: 1550px;
            padding: 20px;
            font-size: 13pt;
            color: black;
            border-radius: 5px;
            background-image: linear-gradient(white,#f6be00);
            text-align: justify;
            font-family: sans-serif;}
    
      .contacts {
            position:absolute;
            left: 10px;
            width: 600px;
            height: 650px;
            border: 1px #f1f3ee;
            top: 2070px;
            padding: 20px;
            font-size: 13pt;
            color: black;
            border-radius: 5px;
            background-image: linear-gradient(white,#f6be00);
            text-align: justify;
            font-family: sans-serif;}

      .footer {
            position: fixed;
            text-align: center; 
            background-image: linear-gradient(rgb(34, 101, 163),rgb(112, 141, 168));
            width: 100%;
            bottom: 0px;
            padding: 17px;
            font-size: 11pt;
            color: white; 
            font-family: 'Montserrat';}

            @media screen and (max-width:600px)   
            {
                  .h1 { 
                        font-size: 15px;
                        left: 10px; 
                        width: 400px;
                        top: 100px; 
                        text-align: center;
                        }

                  .topnav {
                        text-align: center;position: fixed;
                        width: 100%;
                        overflow: hidden;
                        background-image: linear-gradient(rgb(34, 101, 163),rgb(112, 141, 168));
                        padding: 7px;}

                  .topnav a {
                        color: #f2f2f2;
                        text-align: center;
                        padding: 6px 10px;
                        text-decoration: none;
                        font-size: 14px;
                       }

                  .footer {
                        
                        text-align: center; 
                        background-image: linear-gradient(rgb(34, 101, 163),rgb(112, 141, 168));
                        width: 100%;
                        bottom: 0px;
                        padding: 7px;
                        font-size: 9pt;
                        color: white; 
                        font-family: 'Montserrat';}

                  .body  {
                        background-image: url("images/pexels-royal-anwar-450212.JPG");
                        margin-left: auto; margin-top: 200px;
                        margin-right: auto;
                        background-size: 50%;}

                  .container {
                        margin-left: auto;
                        margin-right: auto;}
              
                        
            }

       
    
   